.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo

**/node_modules
**/.next
**/dist
**/build
**/.turbo
npm-debug.log*
yarn-error.log*

.env
.env.*

# Heavy local data we don't want in images
dataset
ml_engine/data*
ml_engine/data_balanced*
boofuzz-results
apache-tomcat-8.5.21-src
tomcat-main
NMAP
images
exploits.zip
myfolder.zip
server_error.log
scan_log.txt
